<tr class="<%= cycle('odd', 'even') %>">
  <td>
    <%= link_to(h(user.login), people_path(user)) %>
  </td>
  <td>
    <%= h(user.name) %>
  </td>
  <% if logged_in? %>
  <td>
    <%= mail_to user.email, user.email, :encode => "javascript" %>
  </td>
  <% end %>
  <td>
    <%= user.created_at.to_date.to_s %>
  </td>
  <td>
    <%= user.subnets.count %>
  </td>
  <td>
    <%= user.nodes.count %>
  </td>
</tr>
