<% form_for(@node) do |f| %>
<%= f.error_messages %>
<fieldset>
  <legend>
    General
  </legend>
  <%= f.label :name %><%= f.text_field :name %>
  <br/>
  <%= f.label :description %><%= f.text_area :description %>
</fieldset>
<fieldset>
  <legend>
    Address
  </legend>
  <%= f.label :street %><%= f.text_field :street %>
  <br/>
  <%= f.label :zip %><%= f.text_field :zip %>
  <br/>
  <%= f.label :city %><%= f.text_field :city %>
  <br/>
  <%= f.label :position %><%= f.text_field :position %>
</fieldset>
<fieldset>
  <legend>
    Geo Location
  </legend>
  <%= f.label :lat, 'Latitude' %><%= f.text_field :lat %>
  <br/>
  <%= f.label :lng, 'Longitude' %><%= f.text_field :lng %>
  <br/>
  <button id="node_geocoder" style="display: none;" class="indent_ajax_button">Lookup from Address</button><%= image_tag 'spinner.gif', :style => 'display:none;', :class => 'spinner', :id => 'node_geocoder_spinner' %>
</fieldset>
<fieldset>
  <legend>
    Network
  </legend>
  <%= f.label :subnet %><%= collection_select :node, :subnet_id, Subnet.all, :id, :name %>
  <br/>
  <%= f.label :ip_address %><%= f.text_field :ip_address %>
  <br />
  <button id="node_ip_suggest" style="display: none;" class="indent_ajax_button">Suggest IP Address</button><%= image_tag 'spinner.gif', :style => 'display:none;', :class => 'spinner', :id => 'node_ip_suggest_spinner' %>
</fieldset>
<% if logged_in? && current_user.has_role?('admin') %>
<fieldset>
	<legend>Owner</legend>
	<%= f.label :owner, 'Login' %><%= f.collection_select(:user_id, User.all, :id, :login)  %>
</fieldset>
<% else %>
	<%= f.hidden_field :user_id, :value => current_user.id %>
<% end %>
<br/>
<%= f.submit 'Save', :disable_with => "Saving&hellip;" %>
<% end %>
<%= javascript_include_tag 'wizard' %>