<tr class="<%= cycle('odd', 'even') %>">
  <td>
    <%= link_to h(subnet.name), subnet %>
  </td>
  <td>
    <%= h network_address(subnet) %>
  </td>
  <td>
    <%= h subnet.nodes.count %>
  </td>
  <% if self.controller_name != "people" %>
  <td>
    <%= link_to h(subnet.owner.login), people_path(subnet.owner) %>
  </td>
  <% end %>
</tr>
