<h2>Edit Account</h2>
<%= error_messages_for :user %>
<% form_for :user, :url => user_url(@user), :html => { :method => :put } do |f| %>
<fieldset>
  <%= f.label :name %><%= f.text_field :name %>
  <br/>
  <%= f.label :email %><%= f.text_field :email %>
  <br/>
</fieldset>
<br/>
<%= submit_tag 'Save' %>
<% end %>
<div id="toolbar">
  <%= link_to 'Show Profile', user_path(@user) %>&nbsp;| <%= link_to 'Change Password', change_password_path %>
</div>
