<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title><%= @page_title or APP_CONFIG['settings']['name'] %></title>
    <%= stylesheet_link_tag 'nodes' %>
    <%= stylesheet_link_tag 'flash' %>
    <%= stylesheet_link_tag 'ujs_sort_helper' %>
    <% if self.controller_name == 'map' %>
    <%= map_layers_includes %>
    <%else%>
    <%= javascript_include_tag :defaults %>
    <%= javascript_include_tag 'lowpro' %>
    <%= javascript_include_tag 'ujs_sort_helper', :plugin => 'ujs_sort_helper'%>    
    <% end %>
  </head>
  <body>
    <div id="header">
      <a href="/" title="<%= APP_CONFIG['settings']['name'] %>"><%=image_tag("blank.png", :height => '100%', :width => '100%', :alt => '', :border => 0) %></a>
    </div>
    <div id="menubar">
      <div id="leftmenu">
        <ul class="navi">
          <li>
            <%= link_to 'People', '/people' %>
          </li>
          <li>
            <%= link_to 'Subnets', subnets_path %>
          </li>
          <li>
            <%= link_to 'Nodes', nodes_path %>
          </li>
          <li>
            <%= link_to 'Map', map_path %>
          </li>
          <% if_admin? do %>
          <li>
              <%= link_to 'Admin', admin_controls_path %>
          </li>
          <% end %>
        </ul>
      </div>
      <div id="rightmenu">
        <ul class="navi">
          <% if logged_in? %>
          <li>
            Logged in as: <%= link_to_current_user :content_method => :login %>
          </li>
		  <li>
		  	<%= link_to 'My Account', user_profile_path(current_user) %>
		  </li>
          <li>
            <%= link_to 'Log Out', logout_path %>
          </li>
          <% else %>
          <li>
            <%= link_to 'Log In', login_path %>
          </li>
          <li>
            <%= link_to 'Sign Up', signup_path %>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div id="content"<% if self.controller_name == 'map' %> class="map"<%end %>>
      <div id="error"><%= flash_messages %></div>
      <%= yield %>
    </div>
  </body>
</html>
