<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title><%= @page_title or 'Freifunk Node Database' %></title>
    <%= stylesheet_link_tag 'nodes' %>
    <% if self.controller_name == 'map' %><%= map_layers_includes %><% end %>
  </head>
  <body>
    <div id="header">
      <a href="/" title="Freifunk Node Database"><%=image_tag("blank.png", :height => '100%', :width => '100%', :alt => '', :border => 0) %></a>
    </div>
    <div id="menubar">
      <div id="leftmenu">
        <ul class="navi">
          <li>
            <%= link_to "Subnets", subnets_path %>
          </li>
          <li>
            <%= link_to "Nodes", nodes_path %>
          </li>
          <li>
            <%= link_to 'Users', users_path %>
          </li>
          <li>
            <%= link_to "Map", map_path %>
          </li>
        </ul>
      </div>
      <div id="rightmenu">
        <ul class="navi">
          <% if logged_in? %>
          <li>
            Logged in as: <%= link_to h(current_user.login.capitalize), user_path(current_user) %>
          </li>
          <li>
            <%= link_to 'Log Out', logout_url %>
          </li>
          <% else %>
          <li>
            <%= link_to 'Log In', new_session_path %>
          </li>
          <li>
            <%= link_to 'Sign Up', new_user_path %>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div id="content"<% if self.controller_name == 'map' %> class="map"<%end %>><%= flash[:notice] %>
      <%= yield %>
    </div>
  </body>
</html>
